---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import logoDark from '~/assets/images/studio_logo_dark_alt.webp';
import logoLight from '~/assets/images/studio_logo_light_alt.webp';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 flex items-center gap-2 whitespace-nowrap">
  <Image src={logoDark} alt="Logo" width={64} height={64} quality={100} class="block dark:hidden" />
  <Image src={logoLight} alt="Logo" width={64} height={64} quality={100} class="hidden dark:block" />
  <span class="text-2xl md:text-xl font-bold font-heading text-gray-900 dark:text-white">{SITE?.name}</span>
</span>
