---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import logoImage from '~/assets/images/studio_photos/studio_logo_current.png';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 flex items-center gap-2 whitespace-nowrap">
  <Image src={logoImage} alt="Logo" width={40} height={40} />
  <span class="text-2xl md:text-xl font-bold font-heading text-gray-900 dark:text-white">{SITE?.name}</span>
</span>
